@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    padding: 10px 20px;
    border: 1px solid #ff3811;
    background-color: transparent;
    transition: all 0.5s;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #ff3811;
    color: white;
  }

  .nav li:hover {
    color: #ff3811;
    transition: all 0.5s;
  }

  .productCart:hover .productIcon {
    display: flex;
  }

  .service-banner-btn {
    padding: 10px 30px;
    background-color: #ff3811;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: 0;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  }

  .step {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  .input-shadow {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .input-shadow:focus {
    outline: 1px solid #ff3811;
  }
}
